<div class="max-w-[1440px] mx-auto">
  <header class="pt-5 relative">
    <div class="bg-[#BDCCFF] w-[35%] h-full absolute right-0 top-0 z-0"></div>
    <div class="layout-component relative z-10">
      <div class="flex items-center justify-between mb-28">
        <a
          routerLink="home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="font-bold text-2xl"
          >AquaticsPalace</a
        >
        <ul class="flex items-center gap-x-9 text-xs">
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Trang Chủ</a
            >
          </li>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Cây thuỷ sinh</a
            >
          </li>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Cá ốc tép cảnh</a
            >
          </li>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Phụ kiện thuỷ sinh</a
            >
          </li>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Hồ cá thuỷ sinh</a
            >
          </li>
          <li>
            <a
              routerLink="home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="text-sm font-semibold hover:text-[#FF9900]"
              >Phân thuốc đất nền</a
            >
          </li>
        </ul>
      </div>
      <div class="relative">
        <div class="relative z-10">
          <h3 class="text-[#FF9900] font-semibold">TƯ VẤN & CHĂM SÓC</h3>
          <h1 class="font-extrabold text-[54px] max-w-[484px] mb-6">
            Hướng Dẫn Nuôi Cá Cho Người Mới
          </h1>
          <p class="text-[17px] text-[#31353B] max-w-[500px] mb-12">
            Phần lớn người mới bắt đầu thường khó nuôi được cá sống và giữ được
            hệ sinh thái tốt. Bây giờ chúng tôi sẽ giúp bạn.
          </p>
          <div class="flex w-full max-w-[740px] shadow-gradient mb-[130px]">
            <div class="flex items-center flex-1 p-5 gap-x-5 border border-r-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
              </svg>
              <input
                type="text"
                placeholder="Nhập email của bạn"
                class="outline-none flex-1 text-xl"
              />
            </div>
            <button
              class="text-white text-[17px] font-bold bg-[#F85A47] py-5 px-12"
            >
              Gửi ngay
            </button>
          </div>
          <p class="text-[17px] text-[#31353B] font-semibold mb-7">
            Các Đối Tác Tuyệt Vời
          </p>
          <div class="flex items-center gap-x-[50px]">
            <img src="assets/img/buzz.png" alt="logo" />
            <img src="assets/img/chase.png" alt="logo1" />
            <img src="assets/img/micro.png" alt="logo2" />
            <img src="assets/img/gucc.png" alt="logo3" />
            <img src="assets/img/air.png" alt="logo4" />
            <img src="assets/img/uber.png" alt="logo5" />
          </div>
        </div>
        <div class="absolute right-0 top-0 shadow-gradient">
          <img
            src="https://static.chotot.com/storage/chotot-kinhnghiem/c2c/2019/10/be-ca-phong-thuy-2-e1571124714461.jpg"
            alt="banner"
            class="max-w-[593px] h-[530px]"
          />
        </div>
      </div>
    </div>
  </header>
</div>
