    <div class="w-full h-8 bg-red-600 text-white">
        <p class="text-center font-semibold pt-1">Giảm 10% cho tổng đơn hàng khi thực hiện thanh toán chuyển khoản. <a href="#" class="font-semibold underline">Xem hướng dẫn</a></p>
    </div>
    <div class="container mx-5 px-5">
        <nav class="flex justify-between items-center py-5">
            <div class="w-32 z-20">
            <img src="/TankShop/img/logo.png" alt="Logo">
            </div>
            <input type="text" placeholder="Nhập tên sản phẩm bạn cần tìm">
            <a href="">Đường A1, Vĩnh Hiệp, tầng 7 VCN, Vĩnh Điềm Trung, Nha Trang, Khánh Hòa</a>
            <div>
                <p>Hotiline</p>
                <p>0819.000.790</p>
            </div>
            <div>
                <!-- icon -->
            </div>
            <div>
                <!-- icon -->
            </div>
        </nav>
    </div>