<div class="w-full flex flex-col items-center justify-center lg:flex-row md:flex-col">
    <div class="w-1/2 h-screen">
        <div class="w-[674px] h-[594px] p-28 mt-16">
        <!-- image -->
            <img src="https://api.ybai.me/assets/images/landings/ybai-share.png" alt="pannel">
        <!-- content -->
            <div class="">
                <span class="text-sm">Chào mừng bạn đến hệ thống</span>
                <h1 class="text-3xl my-5">YBAI AFFILIATE 4.0</h1>
            </div>
        </div>
    </div>
    <div class="w-1/2 h-screen bg-gradient-to-br from-purple-700 to-[#A431CF]">
        <div class="w-[674px] h-[594px] p-28">
            <div class="w-[480px] h-[466px] mx-auto">
                <!-- image -->
                <img class="w-[240px] h-[96px] mx-auto mb-4" src="https://ybai.me/assets/images/logo/logo-ybai-white-none-padding.png" alt="logo">
                <div class="w-full bg-[#FFFFFF] rounded">
                    <div class="w-full h-full p-8">
                        <div class="text-3xl font-medium text-center">Chào mừng bạn,</div>
                        <div class="text-base text-center">Vui lòng nhập email để tiếp tục</div>
                        <form class="w-full h-full pt-4">
                            <div class="">
                                <label class="block text-gray-400 text-sm font-medium mb-2" for="password">
                                  Email
                                  <span class="text-red-500">*</span>
                                </label>
                                <input class="w-full p-4 rounded-lg h-[46px] border border-gray-300 focus:border-purple-500 focus:outline-none focus:invalid:border-red-500 invalid:text-red-600" type="email" placeholder="Nhập email">
                                <p class="text-red-500 text-xs text-right font-semibold pt-1">Vui lòng nhập email</p>
                              </div>
                          </form>
                        <button class="w-full h-[48px] bg-purple-700 text-white px-5 rounded-full mt-6 hover:bg-gradient-to-r from-purple-700 to-[#A431CF]">Tiếp tục ➝</button>
                    </div>
                </div>
                <p class="text-center text-sm text-white hover hover:underline font-semibold mt-6"><a href="#">Quên mật khẩu ?</a></p>
            </div>
        </div>
    </div>
</div>